body {
    width: 100vw;
    height: 100vh;
}

.carousal-img {
    width: 60vw;
    height: 100vh;
}

.text {
    width: 22vw !important;
    height: 100vh;
    margin: 0rem 5.2rem 15rem 5.2rem;
}

.pack_it{
    margin-top:15rem;
}

.whole-screen {
    max-height:100vh;
    display: flex;
    flex-direction: row;
}

/* For carousal CSS */


/* For text-form CSS */
.fpassword {
    font-size: 1.5rem;
    margin-left: 7rem;
}

.log_in {
    color: #414141;
    margin-left: 6rem;
    margin-top: 2rem;
}

.tags {
    text-align: center;
    color: #414141;
    /* font-style: NotoSans-Light; */
}

.tags_e {
    /* text-align: center; */
    color: #414141;
    /* font-style: NotoSans-Light; */
}

.privacy_policy {
    color: #414141;
    margin-top: 8rem;
    margin-left: 10rem;
}

.textbox {
    width: 25rem;
    height: 3.5rem;
}

.tp {
    margin-top: 1rem;
}

.password {
    width: 25rem;
    height: 3.5rem;
}

.b1 {
    border-radius: 50px;
    width: 99%;
    margin-top: 2rem;
    color: #F88634;
    border-color: #F88634;
    align-items: center;
    height: 3rem;
}

/* Media queries */
/* For less than 1000px */
@media screen and (max-width:1000px) {
    .whole-screen {
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 30vw;
        height: 100vh;
        margin: 15rem 5.2rem 15rem 17rem;
    }

    .tags {
        color: #414141;
        font-size: 1.5rem;
        width: 29rem;
    }

    .tags_e {
        /* text-align: center; */
        color: #414141;
        /* font-style: NotoSans-Light; */
    }

    .fpassword {
        font-size: 1.5rem;
        margin-left: 7rem;
        width: 16rem;
    }

    .textbox {
        width: 30rem;
        height: 4.5rem;
    }

    .password {
        width: 30rem;
        height: 4.5rem;
    }

    .b1 {
        border-radius: 50px;
        width: 163%;
        margin-top: 2rem;
        color: #F88634;
        border-color: #F88634;
        align-items: center;
        height: 3rem;
    }
}

/* For less than 800px  */

@media screen and (max-width:800px) {
    .whole-screen {
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 30vw;
        height: 100vh;
        margin: 9rem 5.2rem 15rem 8rem;
    }

    .tags {
        color: #414141;
        font-size: 1rem;
    }

    .tags_e {
        /* text-align: center; */
        color: #414141;
        /* font-style: NotoSans-Light; */
    }

    .textbox {
        width: 30rem;
        height: 4.5rem;
    }

    .password {
        width: 30rem;
        height: 4.5rem;
    }

    .fpassword {
        font-size: 1.5rem;
        margin-left: 10rem;
        width: 16rem;
    }

    .b1 {
        border-radius: 50px;
        width: 212%;
        margin-top: 2rem;
        color: #F88634;
        border-color: #F88634;
        align-items: center;
        height: 3rem;
    }

    .privacy_policy {
        width: 10rem;
        color: #414141;
        margin-top: 8rem;
        margin-left: 12rem;
    }

    .log_in {
        color: #414141;
        margin-left: 7rem;
        margin-top: 2rem;
    }
}
