
/*CSS of List View Card*/

.dropdown {
    display: inline-block;
    position: relative;
}

.card-text {
    font-weight: 500;
    font-size: 20px;
}

.User_Img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}



.User_Name {
    font-size: 13px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}



.View-details {
    justify-content: center;
    width: 8rem;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 50px;
}

h3 {
    margin-top: 2.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-text {
    / width: 0.8rem;
    / height: 1.2rem;
    margin-top: 0.2rem;
    / font-size:16px;
    /
}


.logo-text-m {
    margin-left: 1rem;
}



.row-card {
    background-color: whitesmoke;
}

.location {
    display: flex;
    color: grey;
}

.line-text {
    margin-left: 0.4rem;
    font-size: 17px;
}

.aim-text {
    color: grey;
}

.wrap {
    display: flex;
}

.sub-wrap {
    display: flex;
}

.seats_left_img {
    height: 2rem;
    margin-top: 0.6rem;
}

.seats_text {
    color: grey;
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.seats_container {
    margin-top: 1.5rem;
    padding-left: 2rem !important;
    display: flex;
    flex-direction: row;
}

.seats_no {
    font-size: 18px;
    color: grey;
    margin-bottom: 0rem;
    font-weight: 600;
}

.no_and_text {
    padding-left: 1rem;
}

.progressBar_color {
    padding: 0rem !important;
    margin-left: 14rem;
    margin-top: 1.5rem !important;
    position: absolute;
}

.achieved {
    width: 6rem;
    margin-left: 4rem;
}

.achieved-2 {
    margin-left: 4rem;
}

.achieve_wrap {
}

.progress {
}

.d-f_wrap {
    display: flex;
}

.set {
    margin-top: 1.5rem;
    margin-left: -5rem;
    position: relative;
}

.tools_img {
    width: 30px;
    margin-bottom: 2rem;
}

.apply_btn_text {
    padding-top: 0.4rem;
    padding-left: 1.3rem;
    font-size: 20px;
    color: darkorange;
}

.apply_btn {
    display: flex;
}

button {
    height: 3rem;
    border-radius: 50px !important;
    border-color: darkorange;
    background-color: white;
    margin-top: 1.5rem !important;
    margin-left: 5rem;
}


/*CSS of List View Card-Finished*/



.card {
    margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card > .card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

.card-body {
    padding: 1%;
}


.btn-time {
    background-color: white;
    z-index: 1 !important;
    position: relative;
    border: 1px solid #E8E8E8;
}


hr {
    flex: 1;
    border: 1px solid grey;
    height: 2px;
    background: black;
}

.date-btn {
    border-radius: 22px;
    background-color: white;
    width: auto;
    border: 1px solid #E8E8E8;
}

.applybtn {
    border: 2px solid #F88634;
    background-color: white;
    border-radius: 24px;
    margin-left: 37%;
    / padding: 3%;
    / margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.applytxt {
    color: #F88634;
    font-size: 17px;
}

.grid {
    background-color: #E8E8E8;
    border-radius: 15px;
    padding: 3%;
    border: none;
}

.list {
    border: none;
    background-color: white;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}

.sortby {
    width: max-content;
}

.sortaerrow {
    margin-top: 10%;
}

.missionimg {
    position: relative !important;
}

.card {
    box-shadow: 6px 6px 10px lightgrey;
}

.img-event {
    position: relative;
    text-align: center;
    color: black;
}

.landing-page-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.landing-page-top-left {
    position: absolute;
    top: 8px;
    left: 0px;
    padding: 5px 10px;
    border-end-end-radius: 30px;
    border-start-end-radius: 30px;
    color: white;
    background-color: rgba(0, 170, 8, 0.80);
    font-size: 14px;
    width: 6vw;
}

.landing-page-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.list-group-image {
    max-width: 100%;
    max-height: 100%;
}

.landing-page-btn-img {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 6px;
}

.theme-btn {
    border-radius: 22px;
    background-color: white;
    border: white;
    z-index: 1;
    top: 95%;
    left: 35%;
    position: absolute !important;
}

.navbar-toggler {
    color: grey !important;
}

.navbar-toggler-icon {
    background-color: grey;
}

button {
    width: 7rem !important;
}




.content {
    height: 140rem;
}

.pagination {
    margin-left: 55rem;
    align-items: center;
}

.policy {
    color: black !important;
}

.search_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 0rem -1.5rem 9rem;
}

/* .search_width{
    width: 57rem;
} */
/* .card{
   width: 15rem; 
} */

.row-2 {
    margin-top: 2.5rem !important;
}

.card-title {
    font-size: 26px;
}

.list-group-item {
    border: none !important;
}

.ruler {
    display: flex;
    flex-direction: row;
}

.content {
    padding: 15rem;
    background-color: whitesmoke;
}

.search_b {
    display: flex;
    flex-direction: row;
}

.search_img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.25rem;
    margin-left: 15rem;
}

.search_width {
    width: 100% !important;
    height: 4rem;
}

.pad_0 {
    padding: 0rem !important;
}

.big_button {
    height: 3.9rem;
    padding: 1rem 1rem 1rem 2.5rem !important;
}

/* .star_padding{
    padding-left: 9rem;
} */

.footer_link {
    padding-left: 15rem;
}

.footer_text {
    color: black;
    text-decoration: none;
}

.round_button {
    margin-top: 1.5rem !important;
    border: 1px solid;
    color: grey;
    border-color: grey;
    margin-left: 4rem;
    border-radius: 50px;
    width: 17rem;
    padding-left: 1rem;
}



.env_button {
    border: 1px solid;
    color: grey;
    border-color: grey;
    margin-left: 9rem;
    border-radius: 50px;
    width: 8rem;
    text-align: center;
    margin: auto;
    padding-left: 1rem;
}

.location_button {
    border: 1px solid;
    color: grey;
    border-color: grey;
    margin-left: 9rem;
    margin-top: -12rem !important;
    /*width: 5rem;
    height:2rem;*/
    text-align: center;
    margin: auto;
    padding-left: 1rem;
}

.heart_button {
    border: 1px solid;
    color: grey;
    border-color: grey;
    margin-left: 9rem;
    margin-top: -12rem !important;
    text-align: center;
    margin: auto;
    padding-left: 1rem;
}

.seats_left_img {
    height: 2rem;
}

.seats_text {
    color: grey;
    font-size: 14px;
    margin-bottom: 0rem;
}

.seats_container {
    padding-left: 2rem !important;
    display: flex;
    flex-direction: row;
}

.seats_no {
    font-size: 18px;
    color: grey;
    margin-bottom: 0rem;
    font-weight: 600;
}

.no_and_text {
    padding-left: 1rem;
}


.apply_btn_text {
    padding-top: 0.4rem;
    padding-left: 1.3rem;
    font-size: 17px;
    color: darkorange;
}

.apply_btn {
    display: flex;
}

button {
    width: 8rem;
    height: 3rem;
    border-radius: 50px !important;
    border-color: darkorange;
    background-color: white;
}



.content {
    padding-top: 5rem;
    padding-left: 15rem;
}

.progressBar_color {
    padding: 0rem !important;
}

.achieved {
    width: 6rem;
    margin-left: 4rem;
}

.achieved-2 {
    margin-left: 4rem;
}

.card-text {
    margin-top: 1rem !important;
}

@media SCREEN and (max-width:1500px) {
    .big_button {
        height: 3.9rem;
        padding: 1rem 1rem 1rem 1rem !important;
    }
}

@media SCREEN and (max-width:1000px) {
    .big_button {
        height: 3.9rem;
        padding: 1rem 1rem 1rem 0.5rem !important;
    }
}

@media SCREEN and (max-width:850px) {
    .big_button {
        height: 3.9rem;
        padding: 1rem 1rem 1rem 0rem !important;
    }

    .search_img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1.25rem;
        margin-left: 12rem;
    }
}

@media SCREEN and (max-width:750px) {
    .search_img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1.25rem;
        margin-left: 10rem;
    }
}

@media SCREEN and (max-width:700px) {
    .search_img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1.25rem;
        margin-left: 5rem;
    }
}


@media SCREEN and (max-width:425px) {
    .search_img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1.25rem;
        margin-left: 1rem;
    }
}
